body{
      font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", 
     "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", 
     "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.main-color{
    background-color: rgb(105, 165, 45)  !important;
}

.benner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('banner.png');
    background-size: cover;
    background-position: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.judul{
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 8px;
    letter-spacing: 5px;
}

.paragraph{
    color: white;
    font-size: 24px;
}
.produk {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}